h1{
    font-size: 10vw;
    font-weight: lighter;
    font-style: italic;
}
h2{
    font-size: 12vh;
    font-variant: small-caps;
    font-stretch:ultra-expanded;
}
ul{
    line-height:30px;
    text-transform: uppercase;
}
p{
    word-spacing: 30px;
  
}